*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.header{
    display: flex;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.logo{
    display: flex;
    width: 150px;
    height: 80px;
    border-radius: 20px;
}

.logo a {
    margin: 50px;
    line-height: 80px;
    font-family: 'Noto Sans KR ExtraBold';
    font-size: 25px;
}
.nav{
    display: flex;
    width: 700px;
    height: 80px;
    border-radius: 20px;
}

.nav ul{
    display: flex;
    line-height: 80px;
    font-family: 'Noto Sans KR Medium';
}

.nav li{
    margin-left: 27px;
}

.searchArea{
    display: flex;
    width: 350px;
    height: 80px;
    border-radius: 20px;
}

.searchArea input[type="search"]{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
    width: 250px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 20px;
}

.searchArea input[type="search"]::placeholder{
    margin-left: 100px;
}

.searchArea input[type="button"]{
    display: flex;
    margin-top: 25px;
    margin-left: 10px;
    width: 40px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.main{
    width: 1200px;
    margin: auto;
    display: block;
    justify-content: center;
}

.collection{
    width: 1200px;
    height: 340px;
    margin: auto;

    background-color: lightcoral;
}

#collectionName {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    font-size: 18px;
    font-family: 'Noto Sans KR Medium';
    background-color: darkmagenta;
}


.collection1{
    display: flex;
}

.collection1 .direction {
    display: flex;
    width: 30px;
    background-color: darkslateblue;
}

.collection1 .start{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 220px;
    height: 300px;
    background-color: darkseagreen;
}

.collection1 .start a {
    display: block;
    width: 100%;
    height: 100%;
}

.collection1 .start img{
    position: absolute;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius:10px;
}

.collection1 .end{
    position: relative;
    display: flex;
    width: 220px;
    height: 300px;
    margin-left: 10px;
    background-color: darkseagreen;
}

.collection1 .mid{
    position: relative;
    display: flex;
    width: 220px;
    height: 300px;
    margin-left: 10px;
    background-color: darkseagreen;
}


.collection1 .mid img{
    position: absolute;
    display: flex;
    z-index: 5;
    width: 220px;
    height: 300px;
    object-fit:cover;
    border-radius:10px;
}

.collection1 .end img {
    position: absolute;
    display: flex;
    width: 220px;
    height: 300px;
    object-fit:cover;
    border-radius:10px;
}


.title{
    position: absolute;
    z-index: 5;
    display: block;
    width: 100%;
    height: 100%;
    opacity:0;
    background-color: black;
}

.title:hover{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: linear-gradient(to-bottom, white, black);
    background-color: black;
    border-radius: 10px;
}

.title:hover span{
    position: absolute;
    margin-top: 210px;
    margin-left: 15px;
    opacity: 1.0;
    color: rgba(255, 255, 255, 1.0);
    font-size: 20px;
    font-family: 'Noto Sans KR Medium';
}

.collection2{
    display: flex;
}

.collection2 .direction {
    display: flex;
    width: 30px;
    background-color: darkslateblue;
}

.collection2 .start{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 220px;
    height: 300px;
    background-color: darkseagreen;
}

.collection2 .start a {
    display: block;
    width: 100%;
    height: 100%;
}

.collection2 .start img{
    position: absolute;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius:10px;
}

.collection2 .end{
    position: relative;
    display: flex;
    width: 220px;
    height: 300px;
    margin-left: 10px;
    background-color: darkseagreen;
}

.collection2 .mid{
    position: relative;
    display: flex;
    width: 220px;
    height: 300px;
    margin-left: 10px;
    background-color: darkseagreen;
}


.collection2 .mid img{
    position: absolute;
    display: flex;
    z-index: 5;
    width: 220px;
    height: 300px;
    object-fit:cover;
    border-radius:10px;
}

.collection2 .end img {
    position: absolute;
    display: flex;
    z-index: 5;
    width: 220px;
    height: 300px;
    object-fit:cover;
    border-radius:10px;
}

.intro{
    position: absolute;
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    
}

#intro {
    font-family: 'Noto Sans KR';
    font-size: 24px;
}