*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.header{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 80px;
    margin: auto;
    justify-content: center;
    background-color: whitesmoke;
}

.logo{
    display: flex;
    position: sticky;
    width: 10vw;
    height: 80px;
    border-radius: 20px;
    justify-content: center;
}

.logo a {
    line-height: 80px;
    font-family: 'Noto Sans KR ExtraBold';
    font-size: 25px;
}

.nav{
    display: flex;
    width: 65vw;
    height: 80px;
    border-radius: 20px;
    position: sticky;
}

.nav ul{
    display: flex;
    line-height: 80px;
    font-family: 'Noto Sans KR Medium';
}

.nav li{
    margin-left: 27px;
}

.searchArea{
    display: flex;
    width: 25vw;
    height: 80px;
    border-radius: 20px;
    position: sticky;
}

.searchArea input[type=search]{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
    width: 250px;
    height: 30px;
    border: 0.5px solid rgb(185, 178, 178);
    border-radius: 20px;
    background-color: whitesmoke;
}

.searchArea button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 10px;
    width: 44px;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.body {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;;
    flex-direction: column;
    background-color: whitesmoke;
}

.main {
    width: 100%;
    height: 80vh;
    background-image: url(./mainimg.jpg_large);
    object-fit: cover;
    background-position: 50% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width:1000px){
    .main{
        background-image: url(./mainimg\(react\).jpg);
    }
}
.introArea {
    position: absolute;
    width: 500px;
    height: 90%;
    margin-left: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Noto Sans KR';
}

.introBox {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

.introArea #line2 {
    color: black;
    margin-left: 17px;
    font-family: 'Noto Sans KR';
}

.collection_wrap{
    width: 1200px;
    height: 390px;
    margin: 0 auto;
}

#collectionName {
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 19px;
    font-family: 'Noto Sans KR Medium';
    line-height: 60px;
    align-items: center;
    margin-top: 50px;
}

#collectionName span {
    width: 180px;
    margin-left: 7px;
}

.container{
   width: 1200px; 
   height: 390px;
   display: flex;
   flex-direction: row;
   transition: transform 0.5s;
}

.inner {
    width: 1170px;
    height: 380px;
    display: flex;
    flex-direction: row;
}

.poster{
    width: 235px;
    height: 330px;
    margin-left: 5px;
}

.poster img{
    width: 230px;
    height: 330px;
    object-fit: cover;
    border-radius: 10px;
}

.poster span{
    font-family: 'Noto Sans KR Medium';
}

#firstslide, #secondslide{
    cursor: pointer;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
}

.footer {
    width: 100vw;
    height: 600px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.postArea {
    margin-left: 100px;
    width: 60%;
    height: 90%;
}

.urlArea {
    width: 40%;
    height: 90%;
}

.link {
    width: 60%;
    height: 20%;
    margin-top: 200px;
    margin-left: 60px;
    font-family: 'Noto Sans KR';
    display: flex;
    justify-content: felx-start;
    text-align:end;
}


.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 50px;
    width: 95%;
    height: 98%;
}

.category{
    width: 10%;
    height: 30px;
    margin-left: 20px;
    line-height: 40px;
}

.category button{
    width: 60px;
    height: 33px;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 5px;
    background-color: white;
    background-color: whitesmoke;
}

#subCategory {
    width: 90%;
    height: 40px;
    margin-left: 20px;
    line-height: 40px;
}

#title {
    margin-top: 5px;
    margin-left: 20px;
    width: 550px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

#content {
    margin-top: 10px;
    margin-left: 20px;
    width: 551px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}

#postBtn {
    margin-top: 20px;
    margin-left: 20px;
    width: 10%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: black;
    color: whitesmoke
}
